body {
	margin-left: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #f2f2f2;
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2); 
}
.header,
.main,
.footer,
.main-inner {
	background-color: #ffffff;
}
.header-navigation li,
.footer-contacts li,
.causes li,
.advices li,
.form-field li,
.parameters li,
.found-block li,
.hotels li {
	list-style: none;
}
.header-navigation ul,
.footer-contacts ul,
.causes ol,
.advices ul,
.form-field ul,
.parameters ul,
.found-block ul,
.hotels ul {
	padding: 0;
	margin: 0;
}
/*----------------------------------HEADER---------------------------*/

.header-navigation ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: 6%;
	margin-left: 6%;
	min-height: 56px;
}
.header-navigation li {
	width: 20%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header-navigation li:nth-child(n+3) {
	justify-content: flex-end;
}
.header-navigation li:nth-child(2) {
	margin-right: 11%;
}
.header-navigation a {
	padding-top: 15px;
	padding-bottom: 15px;
	text-decoration: none;
	color: #000000;
}
.header-navigation a:hover {
	color: #81b3d2;
}
.header-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}
.header-navigation .active {
	color: #766357;
}
.header {
	position: relative;
}
.header-logo {
	position: absolute;
	margin: 0;
	left: 50%;
	transform: translate(-50%)
}
/*-----------------------------HEADER КОНЕЦ--------------------------*/
/*--------------------------------SLOGAN-----------------------------*/
.slogan {
	min-height: 724px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	overflow: hidden;
}
.slogan-head,
.slogan-neck {
	width: 50%;
	align-self: center;
	text-align: center;
}
.slogan-head {
	font-size: 21px;
	margin: 0;
	margin-top: auto;
}
.slogan-neck {
	color: #333333;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 50px;
}
.slogan::before {
	content: url(../img/index-background.jpg);
	width: 1200px;
	margin-top: -55px;
	margin-bottom: -210px;
}
/*------------------------------SLOGAN КОНЕЦ---------------------------*/
/*-----------------------------CAUSES ADVICES-----------------------------*/

.causes ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.causes .block1 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	order: 1;
	min-height: 256px;
}
.causes .block2 {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 100%;
	order: 3;
	min-height: 256px;
}
.causes .block3,
.causes .block4,
.causes .block5 {
	width: 33%;
	min-height: 256px;
	flex-grow: 1;
	background-color: #eeeeee;
	order: 4;
}
.causes .block6 {
	width: 100%;
	order: 2;
	min-height: 330px;
}
.causes1 {
	background-color: #81b3d2;
	color: #ffffff;
	width: 33%;
	flex-grow: 1;
}
.causes-head {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	width: 37.75%;
	padding-top: 46px;
	margin: 0 auto;
}
.cause,
.cause-number,
.cause-else {
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	padding-top: 22px;
	margin: 0 auto;
}
.cause {
	width: 77%;
}
.cause-else {
	width: 66%;
}
.causes2 {
	height: 100%;
}
.advices ul {
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.advices li {
	width: 33%;
	min-height: 330px;
	flex-grow: 1;
}
.advices li:nth-of-type(1)::before {
	content: url(../img/icon-1.svg);
	width: 75px;
	height: 72px;
	display: block;
	margin: 0 auto;
	padding-top: 60px;
}
.advices li:nth-of-type(2)::before {
	content: url(../img/icon-3.svg);
	width: 74px;
	height: 70px;
	display: block;
	margin: 0 auto;
	padding-top: 61px;
}
.advices li:nth-of-type(3)::before {
	content: url(../img/icon-2.svg);
	width: 64px;
	height: 76px;
	display: block;
	margin: 0 auto;
	padding-top: 58px;
}
.advices-head {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	margin: 0 auto;
	padding-top: 25px;
}
.advice {
	color: #333333;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	width: 75%;
	padding-top: 22px;
}

/*--------------------------CAUSES ADVICES КОНЕЦ--------------------------*/
/*-----------------------------SEARCH BUTTON--------------------------------*/
.search {
	position: relative;
}
.search-hotels {
	min-height: 290px;
}
.search-head {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0;
	padding-top: 50px;
}
.search-text {
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	color: #333333;
	margin: 0 auto;
	padding-top: 25px;
	width: 40%;
}
.button {
	font: inherit;
	border: 0;	
	text-transform: inherit;
	text-align: center;
	margin: 0;
}
.button-search {
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	display: block;
	width: 568px;
	min-height: 86px;
	margin: 0 auto;
	margin-top: 45px;
}
.button-search:hover {
	background-color: #604e43;
}
.button-search:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
/*---------------------------SEARCH BUTTON КОНЕЦ------------------------------*/
/*-----------------------------SEARCH FORM--------------------------------*/
.form {
	/*display: none;*/
	position: absolute;
	background-color: #ffffff;
	z-index: 3;
	top: 290px;
	left: 50%;
	transform: translate(-50%);
}
.form-field {
	width: 568px;
	min-height: 395px;
	margin: 0 auto;
	border: 0;
	padding: 0;

}
.form-field ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 55px;
	padding-bottom: 25px;
	margin-right: 55px;
	margin-left: 55px; /* 458px ширина */
}
.form-field li {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 29px;
	min-height: 38px;
	position: relative;
	width: 100%; /* 458px ширина */
}
.form-field li:nth-of-type(n+3) {
	width: 226px; /* 49.35% */
	justify-content: flex-end;
}
/*----------КАЛЕНДАРЬ----------*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
.button-calendar span {
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   font-size: 22px;
   color: rgba(0, 0, 0, 0.3);
}
.button-calendar:hover span {
	color: #000000;
}
.button-calendar:active span {
	color: #81b3d2;
}
.calendar {
	font: inherit;
	background-color: #f2f2f2;
	border: 0;
	padding-left: 13px;
	width: 75%;
	box-sizing: border-box;
	min-height: 38px;
}
.button-calendar {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 100%;
	transform: translate(-100%);
	padding: 9px;
	padding-bottom: 0; /* из-за размера шрифта 22px появился внизу свой padding */
}
.button-number {
	font: inherit;
	background-color: #f2f2f2;
	border: 0;
	padding: 0;
	width: 113px;
	min-height: 38px;
	text-align: center;
}
.calendar:hover,
.button-number:hover {
	background-color: #ebebeb;
}
.calendar:focus,
.button-number:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

/*----------КАЛЕНДАРЬ КОНЕЦ----------*/
.minus,
.plus {
	background-color: rgba(0, 0, 0, 0);
	min-height: 38px;
	width: 37px;
	padding: 0;
	padding-top: 2px;
	position: absolute;
}
.plus {
	right: 0;
}
.minus {
	right: 76px;
}
.adults {
	margin-right: 41px;
}
.children {
	margin-right: 27px;
}
.minus:hover line,
.plus:hover line {
	stroke: #000000;
}
.minus:active line,
.plus:active line {
	stroke: #81b3d2;
}
.button-find {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	width: 458px;
	min-height: 58px;
	margin-left: 55px;
	margin-bottom: 55px;
}
.button-find:hover {
	background-color: #669ec0;
}
.button-find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.map {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 473px;
	display: flex;
}
.map img {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 593px;
	width: 1200px;
	margin-bottom: -125px;
}
.map iframe {
	position: relative;
	z-index: 2;
}

/*--------------------------SEARCH FORM КОНЕЦ-----------------------------*/
/*------------------------------FOOTER---------------------------------*/

.footer {
	min-height: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.footer-hashtag,
.footer-contacts,
.footer-copyright {
	width: 33%;
}
.footer-hashtag {
	font-size: 21px;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 48px;
	/*auto в фотошопе---line-height: normal;---*/
}
.footer-contacts ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 36px;
}
.footer-contacts li {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	margin-right: 6px;
}
.footer-contacts li:hover {
	background-color: #669ec0;
}
.footer-contacts li:active {
	background-color: #5496bd;
}
.footer-social-button {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-contacts a:active path { 
	fill: rgba(255, 255, 255, 0.3);
}
.footer-copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.footer-copyright p {
	font-weight: normal;
	padding: 0;
	margin: 0;
	padding-right: 7px;
	padding-top: 48px;
}
.footer-copyright-logo {
	padding-top: 40px;
}
.footer-copyright-logo:hover path {
	fill: #81b3d2;
}

.footer-copyright-logo:active path {
	fill: #bdbbbc;
}
/*------------------------------FOOTER КОНЕЦ------------------------------*/
/*-------------------------------------------INNER--------------------------------*/

.parameters {
	background-image: url("../img/inner-background.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
	line-height: 21px;

	display: flex;
	flex-wrap: wrap;
	min-height: 217px;
	justify-content: space-between;
	align-items: baseline;
}
.parameters-head {
	font-size: 16px;
	padding: 0;
	padding-bottom: 23px;
}
.parameters li,
.cost,
.button-cost {
	font-weight: normal;
}
.parameters li {
	padding-bottom: 23px;
}
.parameters1,
.parameters2,
.parameters3 {
	border: 0;
	padding: 0;
	margin-top: 28px;
}
.parameters1 {
	margin-left: 6%;
	flex-basis: 20%;
}
.parameters2 {
	flex-basis: 20%;
	margin-right: auto;
	margin-left: 15px;
}
/*----------ЧЕКБОКСЫ-----------*/
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.parameter {
	display: flex;
	flex-wrap: wrap;
}
.parameter::before {
	content: url(../img/checkbox-off.svg);
	width: 23px;
	height: 23px;
	margin-right: 17px;
}
.checkbox:focus + .parameter::before {
	outline: 2px solid #81b3d2;
}
.checkbox:checked + .parameter::before {
	content: url(../img/checkbox-on.svg);
	width: 27px;
	height: 23px;
	margin-right: 13px;
}
/*----------ЧЕКБОКСЫ КОНЕЦ-----------*/
.parameters3 {
	margin-right: 6%;
	width: 328px;
}
.parameters3 .parameters-head {
	padding: 0;
	margin-bottom: 9px;
	margin-left: 13px;
}
.cost {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: 13px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	position: relative;
}
.cost::after {
	content: "";
	display: block;
	height: 22px;
	width: 2px;
	background-color: #ffffff;
	position: absolute;
	top: 5px;
	right: 50%;
	transform: translate(-50%);
}
.from,
.to {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	min-height: 32px;
	flex-grow: 1;  /* изменить border и высчитать нужную ширину */
}

.from span,
.to span {
	margin-right: 4px;
}
.cost-min,
.cost-max {
	font: inherit;
	line-height: 21px;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0);
	color: #ffffff;
	border: 0;
	max-width: 30%;
}
/*----КНОПКИ MAX и MIN------------*/
.button-cost {
	margin-top: 10px;
	margin-left: 13px;
	display: flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
.button-min,
.button-max {
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0);
	width: 20px;
	height: 22px;
	padding: 0;
}
.button-max {
	margin-right: 45px;
}
.button-min:hover,
.button-max:hover {
	transform: scale(1.1, 1.1);
}
.button-cost::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	left: 10px;
	bottom: 10px;
	background-color: #ffffff;
	height: 3px;
	width: 253px;
}
.button-cost::after {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	bottom: 10px;
	right: 0;
	background-color: #918381;
	height: 3px;
	width: 55px;
}
/*----КНОПКИ MAX и MIN КОНЕЦ------------*/

.button-view {
	display: block;
	width: 137px;
	min-height: 36px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #ffffff;
	border-radius: 2px;
	color: #ffffff;
	line-height: 21px;
	font-weight: normal;
}
.button-view:hover {
	background-color: #ffffff;
	color: #000000;
}

/*------------------------------СОРТИРОВКА--------------------------*/
.found-block {
	min-height: 86px;
	padding-right: 6%;
	padding-left: 6%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;	
	align-items: baseline;
	border-bottom: 1px solid #e5e5e5;
}
.found-block ul:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 364px;
	margin-right: auto;
	margin-left: 48px;
}
.found-block ul:nth-of-type(2) {
	align-self: center;
	display: flex;
	justify-content: row-reverse;
}
.found {
	font-size: 21px;
	margin: 0;
	margin-top: 28px;
}
.found-block li {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
.sorting {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}
.sorting.active {
	color: #81b3d2;
	border-bottom: none;
}
.sorting:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}	
.sorting:active {
	color: #000000;
	border-bottom: none;
}
.sorting-icon { 
    display: block;
    margin-left: 12px;
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 11px solid #cacaca;
 }
.sorting-icon.active {
	transform: rotate(180deg);
	border-bottom: 11px solid #81b3d2;;
}
.sorting-icon:hover {
	border-bottom: 11px solid #231f20;
}
.sorting-icon:active {
	border-bottom: 11px solid #81b3d2;
}
/*----------------------СОРТИРОВКА КОНЕЦ----------------------*/
/*--------------------------------HOTELS-------------------------------*/
.hotels li {
	padding-left: 6%;
	padding-right: 6%;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-list1,
.hotel-list2,
.hotel-list3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 150px;
}
.hotel {
	width: 364px;
	min-height: 90px;
	align-self: flex-start;
	display: flex;

	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: space-between;
	margin-right: auto;
	margin-left: 30px;
}
.hotel + div {
	width: 154px;
	min-height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.hotel-name {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
	margin-top: 25px;
}
.hotel-name a {
	font-size: 21px;
	color: #000000;
	text-decoration: none;
}
.hotel-name:hover a {
	color: #81b3d2;
}
.hotel-name:active a {
	color: #000000;
	opacity: 0.3;
}
.hotel-type,
.hotel-price {
	color: #333333;
	font-weight: normal;
	margin: 0;
	width: 110px;
	margin-right: 6px;
	margin-top: 8px;
}
.hotel-price {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
}
.hotel-info,
.hotel-buy {
	line-height: 21px ;
	color: #ffffff;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 9px;

}
.hotel-info {
	background-color: #81b3d2;
	width: 110px;
	min-height: 27px;
	margin-right: 6px;
}
.hotel-info:hover {
	background-color: #669ec0;
}
.hotel-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.hotel-buy {
	background-color: #766357;
	width: 142px;
	min-height: 27px;
}
.hotel-buy:hover {
	background-color: #604e43;
}
.hotel-buy:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
.hotel-rating {
	color: #666666;
	background-color: #f2f2f2;
	width: 110px;
	min-height: 27px;
	font-weight: normal;
	line-height: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hotel-list1 span,
.hotel-list2 span,
.hotel-list3 span {
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   font-size: 19px;
   color: #81b3d2;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}










