body {
	margin-left: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #ffffff;
}
.header-navigation li,
.footer-contacts li,
.causes li,
.advices li,
.form-field li,
.parameters li,
.found-block li,
.hotels li {
	list-style: none;
}
.header,
.main,
.footer,
.main-inner {
	width: 768px;
	margin: 0 auto;
	background-color: #ffffff;
	outline: 2px solid black;
}
.causes ol,
.advices ul,
.causes-description2 ul,
.form-field ul,
.found-block ul,
.hotels ul {
	padding: 0;
	margin: 0;
}
/*----------------------------------HEADER---------------------------*/
.header-navigation ul {
	outline: 2px solid black;
	display: flex;
	justify-content: space-between;
	margin-right: 6%;
	margin-left: 6%;
	min-height: 56px;
	padding: 0;
	margin-bottom: 0;
}
.header-navigation li {
	outline: 2px solid black;
	width: 20%;
	display: flex;
	align-items: center;
}
.header-navigation li:nth-child(n+3) {
	justify-content: flex-end;
}
.header-navigation li:nth-child(2) {
	margin-right: 8%;
}
.header-navigation a {
	text-decoration: none;
	color: #000000;
}
.header-navigation a:hover {
	color: #81b3d2;
}
.header-navigation a:active {
	color: rgba(0, 0, 0, 0.3)
}
.header-navigation .active {
	color: #766357;
}
/*-----------------------------HEADER КОНЕЦ--------------------------*/
/*--------------------------------SLOGAN-----------------------------*/
.slogan {
	outline: 2px solid black;
	min-height: 724px;
	display: flex;
	flex-direction: column;

}
.slogan-head,
.slogan-neck {
	width: 676px;
	align-self: center;
	text-align: center;
}
.slogan-head {
	font-size: 21px;
}
.slogan-neck {
	color: #333333;
	font-weight: normal;
}
.slogan::before {
	content: url(../img/index-background.jpg);
	outline: 2px solid black;
}
/*------------------------------SLOGAN КОНЕЦ---------------------------*/
/*-----------------------------CAUSES ADVICES-----------------------------*/
.causes {
	outline: 2px solid black;
	width: 100%;
}

.causes li {
	outline: 2px solid black;
	min-height: 256px;
	display: flex;
}
.causes li:nth-of-type(1) {
	flex-direction: row;
}
.advices-head {
	font-size: 21px;
	line-height: 21px;
	text-align: center;
}
.advice {
	color: #333333;
	line-height: 21px;
	font-weight: normal;
	text-align: center;
}
.advices li:nth-of-type(1)::before {
	content: url(../img/icon-1.svg);
}
.advices li:nth-of-type(2)::before {
	content: url(../img/icon-3.svg);
}
.advices li:nth-of-type(3)::before {
	content: url(../img/icon-2.svg);
}
.advices ul {
	outline: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.advices li {
	width: 33%;
	min-height: 330px;
}
.causes li:nth-of-type(3) {
	flex-direction: row-reverse;
}
.causes-description2 ul {
	outline: 2px solid black;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.causes-description2 li {
	width: 33%;
}
.causes-head {
	font-size: 21px;
	line-height: 21px;
}
.cause {
	line-height: 21px;
	font-weight: normal;
}
.causes-description1 {
	background-color: #81b3d2;
	color: #ffffff;
}
.causes-description2 {
	background-color: #eeeeee;
}
/*--------------------------CAUSES ADVICES КОНЕЦ--------------------------*/
/*-----------------------------SEARCH FORM--------------------------------*/
.search-hotels {
	outline: 2px solid black;
	min-height: 291px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.search-head {
	padding-top: 57px;
	font-size: 30px;
	line-height: 24px;
}
.search {
	line-height: 24px;
	font-weight: normal;
	color: #333333;
}
.button {
	font: inherit;
	border: 0;	
	text-transform: inherit;
	text-align: center;
	vertical-align: middle;
}
.button-search {
	background-color: #766357;
	color: #ffffff;
	font-size: 21px;
	display: block;
	width: 568px;
	height: 86px;
}
.button-search:hover {
	background-color: #604e43;
}
.button-search:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
.form {
	outline: 2px solid black;
}
.form-field {
	outline: 2px solid blue;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 78px;
	border: 0;
	min-height: 395px;
	padding: 0;
}
.form-field ul {
	outline: 2px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
	padding-top: 55px;
	padding-bottom: 25px;
	margin-right: 55px;
	margin-left: 55px;
}
.form-field li {
	outline: 2px solid black;
	display: flex;
	align-items: center;
	margin-bottom: 29px;
}

/*----------КАЛЕНДАРЬ----------*/
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
.button-calendar span {
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   font-size: 22px;
   color: rgba(0, 0, 0, 0.3);
}
.button-calendar:hover span {
	color: #000000;
}
.button-calendar:active span {
	color: #81b3d2;
}
.calendar {
	font: inherit;
	background-color: #f2f2f2;
	border: 0;
	width: 346px;
	height: 38px;
}
.button-calendar {
	background-color: #ffffff;
	height: 38px;
}
.calendar:hover,
.button-number:hover,
.minus:hover,
.plus:hover {
	background-color: #ebebeb;
}
.button-number {
	font: inherit;
	background-color: #f2f2f2;
	border: 0;
	width: 114px;
	height: 38px;
	text-align: center;
}
.calendar:focus,
.button-number:focus,
.minus:focus,
.plus:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}
/*----------КАЛЕНДАРЬ КОНЕЦ----------*/
.minus,
.plus {
	background-color: #f2f2f2;
	border: 0;
	height: 38px;
}
.minus:hover line,
.plus:hover line {
	stroke: #000000;
}
.minus:active line,
.plus:active line {
	stroke: #81b3d2;
}
.button-find {
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	width: 458px;
	min-height: 58px;
	margin-left: 55px;
	margin-bottom: 55px;
}
.button-find:hover {
	background-color: #669ec0;
}
.button-find:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
/*--------------------------SEARCH FORM КОНЕЦ-----------------------------*/
/*------------------------------FOOTER---------------------------------*/
.footer {
	display: flex;
	justify-content: center;
}
.footer-hashtag,
.footer-contacts,
.footer-copyright {
	width: 33%;
	outline: 2px solid black;
}
.footer-hashtag {
	font-size: 21px;
	/*auto в фотошопе---line-height: normal;---*/
}
.footer-contacts li {
	background-color: #81b3d2;
	width: 46px;
	height: 48px;
	margin-bottom: 3px;
	display: inline-block;
	vertical-align: middle;
}
.footer-contacts li:hover {
	background-color: #669ec0;
}
.footer-contacts li:active {
	background-color: #5496bd;
}
.footer-contacts a {
	display: block;
	text-align: center;
	position: relative;
	top: 30%
}
.footer-contacts a:active path { 
	fill: rgba(255, 255, 255, 0.3);
} /*не проходит по критерию вложенности селекторов*/

.footer-copyright {
	font-weight: normal;
}
.footer-copyright-logo:hover path {
	fill: #81b3d2;
}

.footer-copyright-logo:active path {
	fill: #bdbbbc;
}
/*------------------------------FOOTER КОНЕЦ------------------------------*/
/*-------------------------------------------INNER--------------------------------*/

.parameters {
	background-image: url("../img/inner-background.jpg");
	background-repeat: no-repeat;
	color: #ffffff;
	line-height: 21px;

	outline: 2px solid black;
	display: flex;
	min-height: 217px;
	justify-content: space-between;
	align-items: baseline;
}
.parameters-head {
	font-size: 16px;
}
.parameters li,
.cost,
.button-cost {
	font-weight: normal;
}
.parameters1 {
	outline: 2px solid black;
	padding: 0;
	margin-left: 6%;
	margin-top: 31px;
}
.parameters2 {
	outline: 2px solid black;
}
.parameters3 {
	outline: 2px solid black;
	margin-right: 6%;
}

/*----------ЧЕКБОКСЫ-----------*/
.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.parameters span {
	display: block;
}
.parameters span::before {
	content: url(../img/checkbox-off.svg);
	width: 23px;
	height: 23px;
}
.checkbox:focus + span::before {
	outline: 2px solid #81b3d2;
}
.checkbox:checked + span::before {
	content: url(../img/checkbox-on.svg);
	width: 27px;
	height: 23px;
}
/*----------ЧЕКБОКСЫ КОНЕЦ-----------*/
.parameters1,
.parameters2,
.parameters3 {
	display: inline-block;
	border: 0;
}
.cost-min,
.cost-max {
	font: inherit;
	line-height: 21px;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0);
	color: #ffffff;
	border: 0;
}
/*----КНОПКИ MAX и MIN------------*/
.button-cost hr {
	background-color: #ffffff;
	height: 2px;
	border: 0;
}
.button-min,
.button-max {
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0);
	background-size: 20px 22px;
	width: 22px;
	height: 24px;
}
.button-min:hover,
.button-max:hover {
	background-size: 22px 24px;
}
/*----КНОПКИ MAX и MIN КОНЕЦ------------*/

.button-view {
	display: block;
	width: 135px;
	height: 32px;
	margin-top: 20px;
	background-color: rgba(255, 255, 255, 0);
	box-shadow: 0 0 0 2px #ffffff;
	color: #ffffff;
	line-height: 21px;
	font-weight: normal;
}
.button-view:hover {
	background-color: #ffffff;
	color: #000000;
}

/*------------------------------СОРТИРОВКА--------------------------*/
.found-block {
	outline: 2px solid black;
	min-height: 87px;
	margin-right: 6%;
	margin-left: 6%;
	display: flex;
	justify-content: space-between;	
	align-items: center;
}
.found-block ul:nth-of-type(1) {
	outline: 2px solid black;
	display: flex;
	justify-content: space-between;
	width: 48%;
}
.found-block ul:nth-of-type(2) {
	outline: 2px solid black;
	width: 20%;
	display: flex;
	justify-content: flex-end;
}
.found {
	font-size: 21px;
}
.found-block li {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
.sorting {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}
.sorting.active {
	color: #81b3d2;
	border-bottom: none;
}
.sorting:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}	
.sorting:active {
	color: #000000;
	border-bottom: none;
}
.sorting-icon { 
    display: block;
    width: 0;
    height: 0;
    margin-bottom: 14px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid #cacaca;
 }
.sorting-icon.active {
	transform: scale(1, -1);
}
.sorting-icon:hover {
	border-top: 10px solid #231f20;
}
.sorting-icon:active {
	border-top: 10px solid #81b3d2;
}
/*----------------------СОРТИРОВКА КОНЕЦ----------------------*/
/*--------------------------------HOTELS-------------------------------*/
.hotels ul {
	margin-left: 6%;
	margin-right: 6%;
}
.hotel-list1,
.hotel-list2,
.hotel-list3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	outline: 2px solid black;
	min-height: 150px;
}
.hotel-list1 div:nth-of-type(1),
.hotel-list2 div:nth-of-type(1),
.hotel-list3 div:nth-of-type(1) {
	outline: 2px solid black;
	width: 314px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-left: 14px;
	margin-right: 57px;
	margin-left: 17px;
}
.hotel-list1 div:nth-of-type(2),
.hotel-list2 div:nth-of-type(2),
.hotel-list3 div:nth-of-type(2) {
	width: 154px;
	outline: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.hotel-name a {
	font-size: 21px;
	color: #000000;
	text-decoration: none;
}
.hotel-name:hover a {
	color: #81b3d2;
}
.hotel-name:active a {
	color: #000000;
	opacity: 0.3;
}
.hotel-type,
.hotel-price {
	color: #333333;
	font-weight: normal;
}
.hotel-rating {
	color: #666666;
	background-color: #f2f2f2;
	width: 110px;
	height: 27px;
	font-weight: normal;
	line-height: 21px;
	text-align: center;
	vertical-align: middle;
}
.hotel-info,
.hotel-buy {
	line-height: 21px ;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}
.hotel-info {
	display: block;
	background-color: #81b3d2;
	width: 110px;
	height: 27px;
}
.hotel-info:hover {
	background-color: #669ec0;
}
.hotel-info:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}
.hotel-buy {
	display: block;
	background-color: #766357;
	width: 142px;
	height: 27px;
}
.hotel-buy:hover {
	background-color: #604e43;
}
.hotel-buy:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hotel-list1 span,
.hotel-list2 span,
.hotel-list3 span {
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   color: #81b3d2;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}










